In [ ]:
nome = "Joao Paulo" 
type(nome)

In [ ]:
idade = "45"

idade = int(idade)
print(idade, type(idade))

In [ ]:
idade = 35
type(idade)

In [ ]:
altura = '1,77'

print(altura, type(altura))

In [ ]:
num_altura = float(altura.replace(",","."))

print(num_altura, type(num_altura))

In [ ]:
booleano = 'true'

booleano_ = bool(booleano)

print("booleano: ",booleano_,"\n", type(booleano_))

In [ ]:
booleano2 = True

print("booleano: ",booleano2,"\n", type(booleano2))

In [ ]:
data = '2024-12-12'

type(data)

In [31]:
from datetime import datetime, date

In [ ]:
data_parse = datetime.strptime(data, "%Y-%m-%d").date()

print(data_parse,"\n", type(data_parse))

In [33]:
lista = ["Jo√£o", 45, 1.77, True]

In [ ]:
print(lista[0], '\n', type(lista[0]))

In [ ]:
dicionario = dict(idade=45, nome='Joao', idade2=45)
dicionario

#dicionario['idade']

In [ ]:
#map